.input-group {
    width: 100%;
    margin-bottom: 10px;
}

.header {
    font-size: 40px;
    background-color: rgb(17, 17, 97);
    color: white;
    padding: 30px;
}

.panel-heading {
    background-color: rgb(17, 17, 97) !important;
}

h3 {
    color: white !important;
}